body { 
  background-image: url(WAAAGHwithLogo.png);
  background-repeat: no-repeat;
  justify-content: center;
  display: flex;
  background-attachment: fixed;
  background-color: rgb(90, 31, 199);
}

.Logo { 
  display: flexbox;
  justify-content: center;
  align-items: center;
  height: 555px;
  background-size: contain;
  background-color: rgb(38, 187, 192);
  gap: 55px;  
}

.tatt {
  display:flexbox;
  justify-content: center;
  height: inherit;
  background-color: chartreuse;
  background-size: contain;
  gap: 55px;  
}
.nav-bar {
  position: fixed;
  width: 100%;
  bottom: auto;
  left: 0; 
  background-color: darkgray;
}
footer {
  min-height: 100px;
}
